@font-face {
    font-family: nunito-sans;
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}


html, body {
    background: rgba(0, 0, 0, 0);
    font-family: nunito-sans, sans-serif;
}


.hide {
    display: none !important;
}






.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.celestials .celestial {
    display: flex;
    cursor: pointer;
    pointer-events: all;
}
.celestials .celestial .graphics {
    position: relative;
}
.celestials .celestial .main-image {
    position: absolute;
    bottom: 0;
}
.celestials .celestial .coord {
    position: absolute;
    bottom: 0;
    background: blue;
    width: 2px;
    height: 2px;
}







/* Menus */
.overlay-menu {
    position: absolute;
    display: flex;
    flex-flow: column;
    background: #f4f5f4;
    max-width: max-content;
    padding: 3px 5px;
    font-size: 0.7em;
    border-radius: 5px 0;
    overflow: hidden;
}
.overlay-menu.celestial .name {
    background: #d8dbd8;
    font-size: 1.2em;
    font-weight: bold;
    margin: -3px -5px 5px -5px;
    padding: 3px 5px;
}



.context-menu.celestial {
    background: red;
    min-width: 250px;
    min-height: 250px;
    max-width: max-content;
}